/*Importing All Required CSS Files
---------------------------------------*/
@import url('bootstrap.min.css');
@import url('w3.css');
@import url('fonts.css');
@import url('font-awesome.min.css');

/* Global Styling
------------------*/
body{font-family: 'Open Sans'; color: #000; position: relative; background: #fff; overflow-x: hidden; padding: 0; margin: 0; }
span{display: inline-block;}
h2 span,h3 span,h4 span,h5 span,h6 span{display: block;}
ul { list-style: none;  margin: 0; padding: 0; }
a, a:hover, a:visited { text-decoration: none; color: inherit; }
a:focus, span:focus, button:focus, .btn:focus, *:focus { outline: none; box-shadow: none; }
a, .fa{ -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out}
*, *:after, *:before { padding:0; margin:0; list-style:none; border:none; box-sizing:border-box; }
img, a img { display:block; max-width: 100%; height: auto; }
div .lnkbtn{color: #fff !important; background: #66B032 !important; font-size: 16px; line-height: 16px; padding: 14px 22px; font-weight: 600; text-transform: capitalize; letter-spacing: 1px; border-radius: .25rem;}
div .lnkbtn:hover{background: #56A022; color: #fff;}
div h1.title{color: #3b4858; font-family: 'Nexa'; font-weight: bold; font-size: 45px;}
div p{color: #3b4858; font-size: 16px;}

/* Login Page
--------------------------- */
.secLogin{font-family: 'Nexa';}
.secLogin video{position: fixed; right: 0; bottom: 0; min-height: 100%; min-width: 100%;}
.secLogin .container,
.secLogin .container .row{height: 100vh;}
.secLogin .formWrap{background: rgba(255,255,255,0.85); padding: 40px; border-radius: 5px;}
.secLogin h1.title{color: #66B032; line-height: 40px;}
.secLogin p{font-weight: 600; color: #77838f;}
.secLogin form{margin-top: 50px;}
.secLogin label{display: block; font-weight: bold;}
.secLogin .form-group + .form-group{margin-top: 25px;}
.secLogin .form-control {height: auto; padding: 12px; font-weight: 600; color: #1e2022; background-color: #fff; border: 2px solid #d4d9dd; border-radius: 0.3125rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
.secLogin .form-control:focus{box-shadow: 0 0 10px rgba(55, 125, 255, 0.1); border-color: rgba(102,176,50,.50);}
.secLogin .lnkbtn{float: right;}
.secLogin input::-webkit-outer-spin-button,
.secLogin input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

/*Dashboard
----------------*/
.dashboard .top-nav{background: #373a47; position: fixed; right: 0; left: 0; height: 52px; padding: 0 40px; display: flex; justify-content: flex-end;}
.dashboard .top-nav p{color: #fff; display: flex; align-items: center; margin: 0;  cursor: pointer;}
.dashboard .top-nav span{margin-right: 10px;}
.dashboard .top-nav img.thumb{width: 32px; height: 32px;}
.dashboard #gear{margin-left: 15px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
        -ms-transition: -ms-transform 1s ease-in-out;
            transition: transform 1s ease-in-out; }
.dashboard .top-nav p:hover #gear{transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);}
.dashboard .container-fluid{padding: 0;}
.dashboard .container-fluid{display: flex;}
.dashboard .sidebar {position: fixed; background: #fff; box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); height: 100%; width: 200px; transition: .05s ease-in;}
.dashboard ul.nav{display: flex; flex-direction: column;}
.dashboard a.nav-link{color: #54667a; font-size: 16px; display: flex; align-items: center;}
.dashboard ul.nav span{margin-right: 15px;}
.dashboard a.nav-link.active,
.dashboard a.nav-link:hover{background: rgba(0, 0, 0, 0.07);}
.dashboard .tab-content{width: 100%; margin: 62px 0 0 200px; padding: 0 20px;}
.dashboard .tab-head{display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;}
.dashboard .tab-head button{height: 44px;}
.dashboard .tab-head select.form-control{width: 25%; padding: 12px; color: #3b4858; background-color: #f9fafa; border: 2px solid #d4d9dd; height: auto;}
.dashboard .tab-head select.form-control:hover{border-color: #8c9aa6;}
.dashboard .tab-head select.form-control:focus{box-shadow: none; border-color: #8c9aa6;}
.dashboard table i.fa{font-size: 20px;}
.dashboard table i.fa-trash{color: #f44336;}
.dashboard table i.fa-pencil-square-o{color: #238ae6; margin-left: 20px;}
.dashboard table i.fa:hover{animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; transform: translate3d(0, 0, 0); perspective: 1000px;}
@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}

/*Popup Forms
---------------*/
.multicolor-border{width: 100%; height: 6px;}
.multicolor-border:after {background: linear-gradient(to right, #35b4ce 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #66B032 75%); position: absolute; content: ''; height: 6px; right: 0; left: 0; top: 0;}
.w3-modal{padding: 0;}
.w3-xlarge{color: #3b4858; font-weight: bold; }
.w3-display-topright{top: 6px;}
.popupForm{margin-top: 70px; padding: 0 30px 30px;}
.popupForm .form-control{padding: 12px; color: #3b4858; background-color: #f9fafa; border: 2px solid #d4d9dd; height: auto;}
.popupForm .form-control:hover{border-color: #8c9aa6;}
.popupForm .form-control:focus{box-shadow: none; border-color: #8c9aa6;}
.popupForm button{float: right;}
.popupForm .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */font-size: 14px; color: #3b4858;}
.popupForm .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ font-size: 14px; color: #3b4858;}
.popupForm .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */ font-size: 14px; color: #3b4858;}
.popupForm .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */font-size: 14px; color: #3b4858;}
.popupForm .form-control::-ms-input-placeholder { /* Microsoft Edge */font-size: 14px;}
.popupForm .form-control::placeholder { /* Most modern browsers support this now. */font-size: 14px; color: #3b4858;}
.popupForm .form-group{margin-bottom: 30px;}
.update-form .w3-modal{display: flex;}

/*General Settings Form
----------------------------*/
#settings-form .fa-times{color: #fff; font-size: 60px; position: absolute; padding: 20px; right: 0; cursor: pointer;}
#settings-form .popupForm{padding: 0; margin: 0;}
#settings-form div.cover{background-color: #373a47; background-size: cover; height: 180px; display: flex; justify-content: flex-end; align-items: flex-end;}
#settings-form div.cover label{margin: 0 25px 25px 0;}
#settings-form div.cover label i{color: #fff; font-size: 20px; cursor: pointer;}
#settings-form div.profile-pic{height: 154px; width: 154px; margin: -77px auto 0; background-size: cover; border: 3px solid #fff; border-radius: 50%; display: flex; align-items: center; justify-content: flex-end;}
#settings-form div.profile-pic label{margin-right: -22px; margin-bottom: -60px;}
#settings-form div.profile-pic label i{color: #000; font-size: 20px; cursor: pointer; background: #fff; padding: 12px; border-radius: 50%; box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);}
#settings-form .bottom{margin-top: 70px; padding: 0 30px 30px;}

/*Profile Popup
---------------*/
.profile-popup{background: #fff; width: 0px; height: 0px; position: fixed; top: 0; right: 0; box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  -webkit-transition: width 0.3s, height 0.3s;
          transition: width 0.3s, height 0.3s;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;}
.profile-popup .wrap{opacity: 0; margin-top: 32px;}
.profile-popup .fa-times{position: absolute; top: 0; right: 0; padding: 16px; font-size: 16px; opacity: 0;
 -webkit-transition:all 0s ease-in-out;
    -moz-transition:all 0s ease-in-out;
      -o-transition:all 0s ease-in-out;
         transition:all 0s ease-in-out}
.profile-popup .fa-times:hover{background: #f44336; color: #fff;}
.profile-popup .profile{margin-bottom: 14px; }
.profile-popup .profile p{display: flex; align-items: center; margin: 0; font-family: 'Nexa'; font-size: 18px; font-weight: bold; letter-spacing: 1px;  }
.profile-popup .profile span{margin-right: 15px;}
.profile-popup img.thumb{width: 60px; height: 60px; border-radius: 50%;}
.profile-popup .lnk-list{padding: 20px 0; border-bottom: 3px solid rgba(125,129,148,0.2); border-top: 3px solid rgba(125,129,148,0.2);} 
.profile-popup .lnk-list li{display: flex; align-items: center; cursor: pointer;}
.profile-popup .lnk-list li i{margin-right: 15px;}
.profile-popup li+li{margin-top: 14px;}
.profile-popup .lnk-list .fa,
.profile-popup .actions .fa{font-size: 24px; width: 26px; height: 26px;}
.profile-popup .actions{display: flex; justify-content: flex-end; padding: 20px 0;}
.profile-popup .actions a+a{margin-left: 15px;}
.profile-popup .actions .fa{color: #8c9aa6;}
.profile-popup .actions .fa-power-off:hover{color: #f44336;}
.profile-popup.show{width: 280px; height: auto; padding: 16px;
  -webkit-animation: anim-jelly 0.8s linear forwards;
          animation: anim-jelly 0.8s linear forwards;}
.profile-popup.show .wrap{opacity: 1;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;}
.profile-popup.show .fa-times{opacity: 1;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;}
@-webkit-keyframes anim-jelly { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);} 
}

@keyframes anim-jelly { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.32778, 0, 0, 0, 0, 0.32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.69875, 0, 0, 0, 0, 0.69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9603, 0, 0, 0, 0, 0.9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.94663, 0, 0, 0, 0, 0.94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95217, 0, 0, 0, 0, 0.95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96784, 0, 0, 0, 0, 0.96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98559, 0, 0, 0, 0, 0.98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99745, 0, 0, 0, 0, 0.99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99771, 0, 0, 0, 0, 0.99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);} 
}